@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #E50914;
}

body {
  background-color: #050505;
  color: white;
  direction: rtl;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.font-black-italic {
  font-weight: 900;
  font-style: italic;
  letter-spacing: -0.05em;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E50914;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}
