@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased selection:bg-[#b72424] selection:text-white;
    font-family: var(--font-sans);
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border: 2px solid #0a0a0a;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b72424;
  }
}
